---
import Layout from '../layouts/Layout.astro';
import { getEntry } from 'astro:content';
const pricingEntry = await getEntry('data', 'pricing');

if (!pricingEntry) {
  throw new Error("Missing content entry: data/pricing");
}

const pricingData = pricingEntry.data;

interface PricingFact {
  title: string;
  description: string;
}
---

<Layout title="508.dev Pricing" data-theme="light">
  <div class="relative isolate bg-white px-6 py-24 sm:py-32 lg:px-8">
  <div class="absolute inset-x-0 -top-3 -z-10 transform-gpu overflow-hidden px-36 blur-3xl" aria-hidden="true">
    <div class="mx-auto aspect-[1155/678] w-[72.1875rem] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
  <div class="mx-auto max-w-2xl text-center lg:max-w-4xl">
    <h2 class="text-base font-semibold leading-7 text-indigo-600">
      {pricingData.pricing_small}
    </h2>
    <p class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">{pricingData.pricing_title}</p>
  </div>
  <p class="mx-auto mt-6 max-w-2xl text-center text-lg leading-8 text-gray-600">{pricingData.pricing_description}</p>
  <div class="mx-auto mt-16 grid max-w-lg grid-cols-1 items-center gap-y-6 sm:mt-20 sm:gap-y-0 lg:max-w-4xl lg:grid-cols-2">

    <div class="rounded-3xl p-8 ring-1 ring-gray-900/10 sm:p-10 relative bg-white shadow-2xl">
      <h3 id="tier-personal" class="text-base font-semibold leading-7 text-indigo-600">{pricingData.pricing_1_title}</h3>
      <p class="mt-4 flex items-baseline gap-x-2">
        <span class="text-5xl font-bold tracking-tight text-gray-900">{pricingData.pricing_1_number}</span>
        <span class="text-base text-gray-500">{pricingData.pricing_1_small}</span>
      </p>
      <p class="mt-6 text-base leading-7 text-gray-600">{pricingData.pricing_1_description}</p>
      <ul role="list" class="mt-8 space-y-3 text-sm leading-6 text-gray-600 sm:mt-10">
        { pricingData.pricing_1_features.map((feature: any)=>(
        <li class="flex gap-x-3">
          <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
          </svg>
          {feature}
        </li>
        ))}
      </ul>
      <a href="https://cal.com/calebjay/30m" aria-describedby="tier-personal" class="mt-8 block rounded-md py-2.5 px-3.5 text-center text-sm font-semibold focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:mt-10 bg-indigo-600 text-white shadow hover:bg-indigo-500">Book a Meeting</a>
    </div>

    <div class="rounded-3xl p-8 ring-1 ring-gray-900/10 sm:p-10 bg-white/60 sm:mx-8 lg:mx-0 sm:rounded-t-none lg:rounded-tr-3xl lg:rounded-bl-none">
      <h3 id="tier-team" class="text-base font-semibold leading-7 text-indigo-600">{pricingData.pricing_2_title}</h3>
      <p class="mt-4 flex items-baseline gap-x-2">
        <span class="text-5xl font-bold tracking-tight text-gray-900">{pricingData.pricing_2_number}</span>
        <span class="text-base text-gray-500">{pricingData.pricing_2_small}</span>
      </p>
      <p class="mt-6 text-base leading-7 text-gray-600">{pricingData.pricing_2_description}</p>
      <ul role="list" class="mt-8 space-y-3 text-sm leading-6 text-gray-600 sm:mt-10">
        { pricingData.pricing_2_features.map((feature: string)=>(
        <li class="flex gap-x-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width={1.5} stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
          {feature}
        </li>
        ))}
      </ul>
    </div>
  </div>
</div>

<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <div>
        <h2 class="text-base font-semibold leading-7 text-indigo-600">{pricingData.pricing_facts_small}</h2>
        <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{pricingData.pricing_facts_title}</p>
        <p class="mt-6 text-base leading-7 text-gray-600">{pricingData.pricing_facts_description}</p>
      </div>
      <dl class="col-span-2 grid grid-cols-1 gap-x-8 gap-y-10 text-base leading-7 text-gray-600 sm:grid-cols-2 lg:gap-y-16">


        { pricingData.pricing_facts.map((fact: PricingFact)=>(
        <div class="relative pl-9">
          <dt class="font-semibold text-gray-900">
            <svg class="absolute left-0 top-1 h-5 w-5 text-indigo-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            {fact.title}
          </dt>
          <dd class="mt-2">
            {fact.description}
          </dd>
        </div>
        ))}

      </dl>
    </div>
  </div>
</div>


</Layout>

<style>
</style>
